---
import Base from './Base.astro';
import PageInfo from '~/components/PageInfo.astro';
import Prose from '~/components/Prose.astro';

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
	};
}

const {
	content: { title, description, pubDate, updatedDate, heroImage, readingTime },
	file,
} = Astro.props;
---

<Base title={title} description={description}>
	<article>
		<Prose>
			{heroImage && <img width={720} height={360} src={heroImage} alt="" />}
			<h1>{title}</h1>

			<PageInfo file={file} pubDate={pubDate} updatedDate={updatedDate} readingTime={readingTime} />

			<slot />
		</Prose>
	</article>
</Base>
