---
import Base from './Base.astro';
import PageInfo from '~/components/PageInfo.astro';
import Prose from '~/components/Prose.astro';

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
	};
}

const {
	content: { title, description, updatedDate, file },
} = Astro.props;
---

<Base title={title} description={description}>
	<Prose>
		<article>
			<h1>{title}</h1>

			<PageInfo file={file} updatedDate={updatedDate} />

			<slot />
		</article>
	</Prose>
</Base>
